$color-primary: #153956;

.projects_container {
  padding: 4em 0;

  .section_title {
    text-transform: lowercase;
    text-decoration: underline;
    color: $color-primary;
    font-size: 2em;
    text-align: right;
    font-weight: bold;

    @media only screen and (max-width: 850px) {
      text-align: center;
    }

    @media only screen and (max-width: 600px) {
      font-size: 1.5em;
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    flex-wrap: wrap;

    @media only screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
