$color-primary: #153956;

.hero_container {
  .hero_intro_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4em 0;

    .title {
      font-size: 4em;
      color: $color-primary;
    }

    .subtitle {
      font-size: 2em;
      color: $color-primary;
    }

    .social_links {
      display: flex;
      margin-top: 1.5em;

      .linkedin_icon_div {
        width: 2em;
        margin-right: 2em;
      }

      .github_icon_div {
        width: 2em;
      }
    }
  }
}
